# Xcode
Banyan.xcworkspace/xcuserdata/devangmundhra.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Parse.framework/Headers
Parse.framework/Parse
Parse.framework/Resources
Parse.framework/Versions/Current
Banyan.xcodeproj/project.xcworkspace/xcuserdata/devangmundhra.xcuserdatad/
Banyan.xcodeproj/xcuserdata/devangmundhra.xcuserdatad/xcdebugger/
Banyan.xcworkspace/xcuserdata/devangmundhra.xcuserdatad/
Pods
*.framework
Banyan/AviarySDK/
Banyan/KVO+Blocks/.svn/*
