Parse.framework/Headers
Parse.framework/Parse
Parse.framework/Resources
Parse.framework/Versions/Current
.DS_Store
Banyan.xcodeproj/project.xcworkspace/xcuserdata/devangmundhra.xcuserdatad/
Banyan.xcodeproj/xcuserdata/devangmundhra.xcuserdatad/xcdebugger/
TITokenField/.gitignore
