<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>io.banyan.Banyan.userDefaults.addStoryInvitedViewPushNotification</key>
	<true/>
	<key>io.banyan.Banyan.userDefaults.addPieceToContriStoryPushNotification</key>
	<true/>
	<key>io.banyan.Banyan.userDefaults.pieceActionPushNotification</key>
	<true/>
	<key>io.banyan.Banyan.userDefaults.userFollowingPushNotification</key>
	<true/>
	<key>io.banyan.Banyan.userDefaults.addStoryInvitedContrPushNotification</key>
	<true/>
	<key>io.banyan.Banyan.userDefaults.pageTurnAnimation</key>
	<true/>
</dict>
</plist>
